[Desktop Entry]
Version=1.0
Type=Application
Name=Ferdium
Comment=Atlassian Jira Issue Tracker
Exec=/home/talinux/.apps/ferdium/ferdium
Terminal=false
Categories=Development;ProjectManagement;


