[Desktop Entry]
Version=1.0
Type=Application
Name=Ferdium
Comment=Atlassian Jira Issue Tracker
Exec=/home/talinux/.apps/ferdium/Ferdium-linux-Portable-7.0.0-x86_64.AppImage
Terminal=false
Categories=Development;ProjectManagement;


