[Desktop Entry]
Name=Gather Desktop
Exec=$HOME/GatherDesktop-linux-x64/GatherDesktop
Icon=$HOME/GatherDesktop-linux-x64/resources/app/icon.png
Type=Application
Categories=Network;

