[Desktop Entry]
Version=1.0
Type=Application
Name=Jira
Comment=Atlassian Jira Issue Tracker
Exec=/home/talinux/.apps/atlassian-jira-core-10.1.1-standalone/bin/start-jira.sh
Icon=/home/talinux/.apps/atlassian-jira-core-10.1.1-standalone/atlassian-jira/images/icons/favicon32.png
Terminal=false
Categories=Development;ProjectManagement;

