[Desktop Entry]
Version=1.0
Type=Application
Name=Mindomo
Exec=/home/talinux/.apps/mindomo/mindomo
Terminal=false
Icon=/home/talinux/.apps/mindomo/icon.jpg
