[Desktop Entry]
Version=1.0
Type=Application
Name=TLauncher
Comment=Multi-Minecraft Launcher
Exec=java -jar /home/talinux/.apps/TLauncher/TLauncher.jar
Terminal=false
Categories=Game;

