[Desktop Entry]
Name=Btop Hypr
Comment=Resource monitor in Hyprland
Exec=hyprctl dispatch exec "[float; size (monitor_w*0.85) (monitor_h*0.80); center] kitty -o cursor_trail=0 -o background_opacity=0 -e btop"
Icon=btop
Terminal=false
Type=Application
Categories=System;Utility;
