[Desktop Entry]
Name=Btop Hypr
Comment=Resource monitor in Hyprland
Exec=hyprctl dispatch exec "[float; size 85% 80%] ghostty --background-opacity=1 -e btop"
Icon=btop
Terminal=false
Type=Application
Categories=System;Utility;

