[Desktop Entry]
Name=nmtui Hypr
Comment=Network Manager TUI for Hyprland
Exec=hyprctl dispatch exec "[float; size 90% 80%] ghostty --background-opacity=1 -e nmtui"
Icon=network-wireless
Terminal=false
Type=Application
Categories=Network;Utility;

