[Desktop Entry]
Name=ncdu Hypr
Comment=Disk usage analyzer in Hyprland
# Exec=hyprctl dispatch exec "[noblur 0; float; size 90% 80%] ghostty --background-opacity=0.65 -e ncdu /"
Exec=hyprctl dispatch exec "[noblur 0; float; noborder 0; size 90% 80%] kitty -o cursor_trail=0 -o background_opacity=0.65 -e ncdu /"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;Utility;

