[Desktop Entry]
Name=Clipse Hypr
Comment=Clipse TUI in hyprland
Exec=hyprctl dispatch exec "[float; no_anim; no_blur 0; size (monitor_w*0.50) (monitor_h*0.70); center] kitty -o cursor_trail=0 -o background_opacity=0.65 -e clipse"
Icon=clipse-gui
Terminal=false
Type=Application
Categories=System;Utility;
