[Desktop Entry]
Name=Clipse Hypr
Comment=Clipse TUI in hyprland
Exec=hyprctl dispatch exec "[float; size 50% 70%] ghostty --background-opacity=0.5 -e clipse"
Icon=clipse-gui
Terminal=false
Type=Application
Categories=System;Utility;
