[Desktop Entry]
Name=ncdu Hypr
Comment=Disk usage analyzer in Hyprland
Exec=hyprctl dispatch exec "[no_blur 0; float; size (monitor_w*0.90) (monitor_h*0.80); center] kitty -o cursor_trail=0 -o background_opacity=0.65 -e ncdu /"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;Utility;

