[Desktop Entry]
Name=Btop Hypr
Comment=Resource monitor in Hyprland
Exec=hyprctl dispatch exec "[noborder; float; size 85% 80%] ghostty --background-opacity=0 -e btop"
Icon=btop
Terminal=false
Type=Application
Categories=System;Utility;
