[Desktop Entry]
Name=LazyDocker Hypr
Comment=Docker UI in Hyprland
Exec=hyprctl dispatch exec "[float; size 90% 80%] ghostty --background-opacity=1 -e lazydocker"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;Utility;

