[Desktop Entry]
Name=nmtui Hypr
Comment=Network Manager TUI for Hyprland
Exec=hyprctl dispatch exec "[float] ghostty -e nmtui"
Icon=network-wireless
Terminal=false
Type=Application
Categories=Network;Utility;

